<div class="row">
	<div class="large-12 columns">
		<table>
		<thead>
			<tr>
			<th>
				Lawyer Name
			</th>
			<th>
				Lawyer Code

			</th>			
			<th>
				Lawyer Location(city)
			</th>			
			<th>
				Service Code
			</th>		
			<th>
				Service Name
			</th>			
			<th>
				Service Charge
			</th>				
			<th>
				Exp.
			</th>	
			<th>
				Average Rating
			</th>					
			</tr>
		</thead>
		<tbody>
		<%@lawyerservice.each do |lawyer|%>
		<%@city = LawyerCity.where(:lawyer_code =>lawyer.lawyer_code)%>
		<tr>
			<td>
				<%=@city.first.lawyer_namestring%>
			</td>
			<td>
				<%=@city.first.lawyer_code%>
			</td>	
			<td>
				<%=@city.first.location%>
			</td>
			<td>
				<%=lawyer.service_code%>
			</td>
			<td>
				<%=lawyer.service_name%>
			</td>
			<td>
				<%=lawyer.service_charge%>
			</td>										
			<td>
				<%=@city.first.exp%>
			</td>	

			<td>
				<%=@city.first.average_rating%>
			</td>												
		</tr>
		<%end%>

		</tbody>
		</table> 
	</div>

</div>